<section>
  <h1 id="first">{{title}}</h1>
  <!-- <ul *ngIf="nameList && nameList.length" >
      <li *ngFor="let city of nameList; let i = index;">{{city}} - {{i}} </li>
    </ul>
    <ul *ngIf="nameList && nameList.length <= 0" >
       <li>no cities are available</li>
    </ul> -->

  <mat-list role="list" *ngIf="nameList && nameList.length">
    <mat-list-item role="listitem"
                   *ngFor="let city of nameList; let i = index;">
      {{city | titlecase }}
    </mat-list-item>
  </mat-list>
</section>

<!-- <router-outlet></router-outlet> -->
